* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(100deg, #e74d89, #febaa6);
}
.wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
}
.wrapper h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}
.wrapper button {
  border: none;
  border-radius: 10px;
  background-color: #e43075;
  overflow: hidden;
  width: 100px;
  height: 70px;
  margin: 10px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
