@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Poppins";
  background-color: #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}
.container header {
  height: 30%;
  padding: 15px;
}
.container .title {
  font-size: 18px;
  font-weight: bold;
  color: #444;
  margin: 20px 0;
  text-align: center;
}
.container .input {
  width: 100%;
  border: 1px solid #333;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.container .input i {
  font-size: 18px;
  margin-left: 10px;
}
.container .input input {
  width: 100%;
  outline: none;
  padding: 8px 12px;
  font-size: 17px;
  border: none;
}
.product {
  height: 70%;
  max-height: 380px;
  overflow-y: scroll;
}
.product h3 {
  color: #444;
  text-align: center;
  padding: 10px 0;
}
.product__item {
  display: flex;
  padding: 20px;
  cursor: pointer;
}
.product__item:hover {
  background-color: #e3e3e3;
}
.product__item img {
  width: 50px;
  height: 75px;
  object-fit: cover;
  margin-right: 20px;
}
.product__info {
  color: #444;
  flex-grow: 1;
}
.product__info h4 {
  margin-bottom: 15px;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.product__info p {
  text-align: center;
}
.hide {
  display: none;
}
