@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Poppins";
  background: #8a66b4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box {
  padding: 15px 25px 20px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 10px;
  background-color: #6b38b6;
  overflow: hidden;
  margin: 15px;
  display: flex;
  flex-direction: column;
}
.box .title {
  font-size: 16px;
  margin-bottom: 10px;
}
.box .number {
  font-size: 40px;
}
